.list {
  margin: 50px 0 70px;
}

.list .listBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 15px;
  border: 2px solid #eaeaea;
  border-radius: 5px;
}

.list .titleBox {
  display: flex;
  align-items: center;
}

.list h5 {
  margin-right: 8px;
  font-size: 0.9rem;
  width: 120px;
}

.list .deleteBox {
  display: flex;
  align-items: center;
}

.list .deleteBox button {
  margin-right: 15px;
  background-color: #a62626;
  color: #fff;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.list p {
  width: 100%;
  font-weight: 700;
  color: #a62626;
}
